@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* small helper for dark bg used in footer socials */
.bg-darkgray { background-color: rgba(36,36,36,1); }
